<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>books </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
<div class="container jumbotron">
    <!-- page start-->
    <h2 > List of available books</h2>
    <table class="table table-striped">
      <tr>
        <th>book id</th>
        <th>book title</th>
        <th>description</th>
        <th>publication date</th>
        <th>rate</th>
        <th>count</th>
        <th>#</th>
      </tr>
     {% for book in books %}
         <form method="POST">
         <tr>
         <td>{{ book._id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.publication_date }}</td>
        <td>{{ book.rate }}</td>
        <td>{{ book.count }}</td>
        <td><button type="submit" name="book_id" value="{{ book._id }}" class="btn btn-primary">get</button></td>
        </tr>
         </form>
     {% endfor %}

    </table>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
