<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>books </title>
    <style>
    table, th, td {
      border: 1px solid black;
    }
</style>


</head>

<body>

    <!-- page start-->
    <h2 > List of user's books</h2>
    <table >
      <tr>
        <th>order id</th>
        <th>book title</th>
        <th>description</th>
        <th>publication date</th>
        <th>rate</th>
        <th>count</th>
        <th>#</th>
      </tr>
     {% for order in orders %}
         <form action="/borrowed-books" method="POST">
         <tr>
         <td>{{ order._id }}</td>
        <td>{{ order.book.name }}</td>
        <td>{{ order.book.description }}</td>
        <td>{{ order.book.publication_date }}</td>
        <td>{{ order.book.rate }}</td>
        <td>{{ order.book.count }}</td>
        <td><button type="submit" name="order_id" value="{{ order._id }}">give back</button></td>
        </tr>
         </form>
     {% endfor %}

    </table>





</body>
</html>
