<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>register</title>

</head>

  <body class="login-body">

      <form action=" http://localhost:5000/register" method="POST">
        <h2 > register</h2>
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder=" username " autofocus>
            <input type="password" name="password" class="form-control" placeholder="password">
            <input type="email" name="email" class="form-control" placeholder="email">
            <input type="text" name="name" class="form-control" placeholder="name">
            <input type="text" name="lastname" class="form-control" placeholder="lastname">
            <button type="submit">register</button>
        </div>
      </form>

  </body>
</html>
